[submodule "test/en_ult"]
	path = test/en_ult
	url = https://git.door43.org/unfoldingWord/en_ult.git
[submodule "test/en_ust"]
	path = test/en_ust
	url = https://git.door43.org/unfoldingWord/en_ust.git
